body {
	background-color: aliceblue;
	max-width: 960px;
}
table, th, td {
	padding: 4px;
	border: 3px solid gold;
}
table {
	border-collapse: collapse;
}
#happiness {
	color: mediumblue;
}
.cite {
	text-decoration: underline;
}
h1 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: gold;
	text-align: center;
	font-size: 48px;
	margin: 4px;
	border: 3px solid gold;
	padding: 4px;
	background-image: url(https://nothinginbiology.files.wordpress.com/2015/09/skyscapes-trees-1011645-2560x1600.jpg);
}
a:visited {
	color: gold;
}
img {
	max-width: 100%;
	height: auto;
}
@media screen and (max-width: 370px) {
h2{
	font-size: 1em}
}

